/* Structure */

html{
    background-color: #EEE;
}

body{
    margin: auto;
    width: 100%;
    font-family:sans-serif;
}

.elev-container
{
    background-color: #CCC;
    --height-var:630px;
    margin:20px;
    display:flex;
    height: var(--height-var);
    border: 2px solid #000;
    border-radius: 5px;
}

.elev-div, .button-div, .floor-div
{
    border:1px solid #000;
    text-align: center;
}

.elev-div{
    flex-grow:4;
    background-color:rgb(174, 229, 255);
}

.button-div, .floor-div{
    flex-grow:1;
    background-color: rgb(148, 185, 233);
}

/* Signs */

#sec-floor, #fir-floor, #rdc, .sign{
    outline:2px solid black;
    background-color: rgb(207, 179, 86);
}

#sec-floor{
    margin-top:calc(var(--height-var)/10 - 2px);
}

#fir-floor{
    margin-top:calc(var(--height-var)/2 - calc(var(--height-var)/10) - 6px);
    transform:translateY(-150%);
}

#rdc{
    margin-top:calc(var(--height-var) - calc(var(--height-var)/2) - calc(var(--height-var)/10) - 10px);
    transform:translateY(-300%);
}

/* Images */

img{
    max-width: 150px;
    margin-top:calc(var(--height-var) - 5px);
    transform:translateY(-103%);
}

/* Buttons */

button{
    display:block;
    position:relative;
    left:50%;
    top:50%;
    transform:translate(-50%,-250%);
    transition: background-color 0.4s;
    border-radius:20%;
    background-color:#EEE;
    color:black;
    border: 2px solid black;
    padding: 20px;
    font-size: 20px;
    margin: 16px 2px;
}

button:hover{
    background-color: rgb(207, 179, 86);
}

button:active{
    background-color: rgb(207, 179, 86);
    transform: translate(-50%,calc(-250% + 3px));
}
